body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  background-color: #222222a4 !important;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  height: 8rem;
}

.f-info-socials,
.f-info-links,
.f-info-policies {
  text-align: center;
  width: 100%;
}

.f-info-socials i {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 0.8rem;
  color: #222222 !important;
}

.f-info-policies a {
  text-decoration: none;
  color: #222222;
}

.f-info-policies a:hover {
  text-decoration: underline;
}

.f-info-policies img {
  width: 25px;
}

.card {
  border: none !important;
  margin-bottom: 10px !important;
}

.card-img-top {
  border-radius: 10px !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  margin: 0px !important;
}

.card-embed {
  text-decoration: none !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #f7f7f7;
}

.new-btn,
.edit-btn {
  background-color: #ff385c !important;
  border: none !important;
}
