ul {
    background-color: blueviolet;
    width: 0px;
}

li {
    color: aliceblue;
    width: 355px;
    background-color: #e57625;
    margin: 5px 3px;
    padding: 2px 0px 2px 3px;
}

ul li .delete {

    margin: 2px 0 0 0;
    padding: 0px 10px 0px 10px;
    height: 13px;
    width: 10px;
    /* background-color: aliceblue; */
}

.todo-list li button{
    cursor: pointer;
    margin-left: 10px;
}