<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>

    <!-- Link to Favicon (favicon in PNG format) -->
    <link rel="icon" href="./favicon.png" type="image/png">

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- Container for all posts -->
    <div class="post-container">
        <h1>Quora Posts</h1>
            <div class="post">
                <p><strong>@<%= post.username %> </strong></p>
                <p> <%= post.content %> </p>
                | <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit Post</a>
                <!-- 
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
                    <button>Delete Post</button>
                    </form> 
                -->
            </div>
    </div>

</body>
</html>
