<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <form action="/chats/<%= chat._id %>?method=PUT" method="post">
        <textarea cols="30" rows="5" name="message" ><%= chat.message %></textarea>
        <br><br>
        <button type="submit">Confirm edit</button>
    </form>
</body>
</html>