<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
  </head>
  <body>
    <h3>Send new Message !!</h3>
    <form action="/chats" method="post">
      <input type="text" name="from" placeholder="Your name" />
      <br /><br />
      <textarea name="message" placeholder="Message"></textarea>
      <br /><br />
      <input type="text" name="to" placeholder="Receiver's name" />
      <br /><br />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
