<%- include("includes/head.ejs") %> <!-- Include head section from external file for consistent page layout -->
<body>
    <h1>Helooo, I'm HTML page from EJS.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquam ab explicabo expedita voluptate asperiores dolor, doloribus in quisquam praesentium fugit accusamus ipsam aliquid rerum cum maxime sunt perferendis numquam!</p>
    <button type="button">click me!</button>
</body>
</html>