* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    padding-top: 15vh;
    background-color: bisque;
}

.box-container{
    display: flex;
    justify-content: center;
}

.box {
    align-content: center;
    background-color: rgba(127, 255, 212, 0.244);
    height: 200px;
    width: 200px;
    margin: 25px 25px 0px 0px;
    border-radius: 10%;
    border: 2px solid black;
    cursor: pointer;
}

.upper-left{
    background-color: #d55075;
}

.bottom-left{
    background-color: #93e4ff;
}

.upper-right{
    background-color: #fa903b;
}

.bottom-right{
    background-color: #5679f5;
}

.prev-high-score{
    margin: 10px 0 0 0;
}