.on {
    background-color: green;
    color: beige;
}


.lightOff {
    color:darkgray;
}

.lightOn {
    background-color: gold;
}


body {
    text-align: center;
}

.colorDiv {
    height: 100px;
    width: 70%;
    border: 1px solid black;
    margin: auto;
}