.on {
    background-color: green;
    color: beige;
}


.lightOff {
    color:darkgray;
}

.lightOn {
    background-color: gold;
}


body {
    text-align: center;
}

.colorDiv {
    height: 100px;
    width: 70%;
    border: 1px solid black;
    margin: auto;
}


#scroll-box {
    margin: auto;
  overflow: scroll;
  height: 100px;
  width: 100px;
  float: left;
}

#scroll-box p {
  text-align: left;
  height: 200px;
  width: 200px;
}

#output {
  text-align: center;
}