<% layout("./layouts/boilerplate.ejs") %>
<div class="row">
    <div class="alert alert-danger d-flex align-items-center col-8 offset-2 mt-3" role="alert">
        <div>
          <p><%= message %></p>
        </div>
      </div>
</div>