<% layout('./layouts/boilerplate.ejs') %>
<body>
  <h1>All listings</h1>
  <!-- <form action="/listings/new" method="get">
    <button type="submit">Create new listing</button>
  </form> -->
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% for(listing of allListings) { %>
    <a class="card-embed" href="/listings/<%= listing._id %>">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="image"
          style="height: 16rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b></p>
          <p class="card-text">
            &#x20A8; <%= listing.price ? listing.price.toLocaleString("en-PK").concat(".00") : "Price not available" %>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
