<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit username</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>You're going to edit username</h2>
    <form action="/user/<%=user.id%>?_method=PATCH" method="post">
        <textarea name="username" id="username"><%= user.username %></textarea>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <button type="submit">Edit</button>
    </form>
</body>
</html>