<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/user" method="post">
        <input type="text" name="id" placeholder="Enter id" required>
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="text" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>