<footer>
  <div class="f-info sticky-bottom">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="f-info-brand">&copy; 2024 WanderLust, Inc.</div>
    <div class="f-info-policies">
      <a href="/terms">Terms</a> &bull; <a href="/privacy">Privacy</a> &bull;
      <a href="/privacy"
        >Your Privacy Choice <img src="../css/choices.png" alt="choices"
      /></a>
    </div>
  </div>
</footer>
